<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="js/ng-cordova.min.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>

  <body ng-app="starter" ng-controller="MainCtrl">


      <ion-nav-view></ion-nav-view>

      <script id="templates/home.html" type="text/ng-template">
        <ion-view class="bg-BK">
          <h1 class="title">Black Knight</h1>
          <ion-content class ="align-button">

            <br></br>
            <a class="button button-light round button-outline" ng-click="goTourl('/scan')" href="javascript:void(0);">Connect/New</a>

              <br></br>
            <button class="button button-light round button-outline">Disconnect/Sale</button>

          <br></br>
        </ion-content>
      </ion-view>
      </script>

      <script id="templates/scan.html" type="text/ng-template">
        <ion-view class="bg-BK"  ng-controller="BCodeScanner">
          <ion-content class ="align-button">
            <button class="button button-light round button-outline" ng-click="scanBarcode()">Scan VIN</button>

            <br></br>

            <button class="button button-light round button-outline" ng-click="goTourl('/home')" href="javascript:void(0);">Back</a>


          </ion-content>
        </ion-view>

      </script>

  </body>
</html>
