/* Empty. Add your own CSS if you like */
.bg-BK{
  background-color: #0A122A;
}

.align-button{
  padding-top: 20%;
  text-align: center;
}

.title{
  color: grey;
  padding-top: 5%;
  text-align: center;
}
